<div class="intern-merch">
  <mat-card class="card">
    <mat-toolbar color="primary">
      <span>Intern Merchandise</span>
    </mat-toolbar>

    <div class="card-content">
      <div class="new-merch-btn">
        <button
          mat-raised-button
          (click)="openNewInternMerch()"
          color="primary">
          New Intern Merchandise
        </button>
      </div>
      <div *ngIf="isLoadingResults">
        <mat-progress-bar
          *ngIf="isLoadingResults"
          mode="indeterminate"></mat-progress-bar>
      </div>

      <table
        class="mat-app-background"
        mat-table
        [dataSource]="internMerchs"
        multiTemplateDataRows>
        <ng-container matColumnDef="no.">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let edge">{{ edge.cursor }}</td>
        </ng-container>

        <ng-container matColumnDef="merchandiseId">
          <th mat-header-cell *matHeaderCellDef>Merchandise Id</th>
          <td mat-cell *matCellDef="let edge">
            {{ edge.node.merchandiseId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="merchandiseName">
          <th mat-header-cell *matHeaderCellDef>Merchandise Name</th>
          <td mat-cell *matCellDef="let edge">
            {{ edge.node.merchandiseName | slice: 0:50 }}
          </td>
        </ng-container>

        <ng-container matColumnDef="count">
          <th mat-header-cell *matHeaderCellDef>Count</th>
          <td mat-cell *matCellDef="let edge">
            {{ edge.node.count }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef>Cost per Item</th>
          <td mat-cell *matCellDef="let edge">
            {{ edge.node.cost }}
          </td>
        </ng-container>

        <ng-container matColumnDef="orderer">
          <th mat-header-cell *matHeaderCellDef>Orderer</th>
          <td mat-cell *matCellDef="let edge">
            {{ ordererName(edge.node.ordererId) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let edge">
            {{ edge.node.status }}
          </td>
        </ng-container>

        <ng-container matColumnDef="menu">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let edge">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="goUpdateInternMerch(edge.node.id)">
                <mat-icon>edit</mat-icon>Edit
              </button>
              <button mat-menu-item (click)="(downloadInternMerch)">
                <mat-icon>download_for_offline</mat-icon>Download
              </button>
              <button mat-menu-item (click)="deleteInternMerch(edge.node)">
                <mat-icon>delete</mat-icon>Delete
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        [length]="pageLength"
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="pageSize"
        (page)="handlePageEvent($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-card>
</div>
