@import "src/styles";

.intern-merch {
  padding-top: 2rem;
  height: 100%;
}

.intern-merch-card {
  margin: auto;
  max-width: 75vw;
  min-width: 1000px;

  .new-merch-btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  table {
    width: 100%;
  }
}
