<div class="intern-merch mat-app-background">
    <mat-card class="intern-merch-card">
        <mat-toolbar>
            <span>Intern Merchandise</span>
        </mat-toolbar>
        <div class="new-merch-btn">
            <button mat-raised-button (click)="openNewInternOrder()" color="primary">
                New Order
            </button>
        </div>
        <div>
            <div *ngIf="isLoadingResults">
                <mat-progress-bar *ngIf="isLoadingResults" mode="indeterminate"></mat-progress-bar>
            </div>

            <table class="mat-app-background" mat-table [dataSource]="internMerchs" multiTemplateDataRows>

                <ng-container matColumnDef="no.">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let edge"> {{edge.cursor}} </td>
                </ng-container>

                <ng-container matColumnDef="merchandiseId">
                    <th mat-header-cell *matHeaderCellDef> Merchandise Id </th>
                    <td mat-cell *matCellDef="let edge"> {{edge.node.merchandiseId}} </td>
                </ng-container>

                <ng-container matColumnDef="merchandiseName">
                    <th mat-header-cell *matHeaderCellDef> Merchandise Name </th>
                    <td mat-cell *matCellDef="let edge"> {{ (edge.node.merchandiseName | slice:0:50)+' ...' }} </td>
                </ng-container>

                <ng-container matColumnDef="count">
                    <th mat-header-cell *matHeaderCellDef> Count </th>
                    <td mat-cell *matCellDef="let edge"> {{edge.node.count}} </td>
                </ng-container>

                <ng-container matColumnDef="cost">
                    <th mat-header-cell *matHeaderCellDef> Cost per Item </th>
                    <td mat-cell *matCellDef="let edge"> {{edge.node.cost}} </td>
                </ng-container>

                <ng-container matColumnDef="orderer">
                    <th mat-header-cell *matHeaderCellDef> Orderer </th>
                    <td mat-cell *matCellDef="let edge"> {{ ordererName(edge.node.orderer) }} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let edge"> {{edge.node.status}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let edge">
                        <button mat-icon-button title="Edit" (click)="openUpdateDialog(edge.node.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="download">
                    <th mat-header-cell *matHeaderCellDef> Download </th>
                    <td mat-cell *matCellDef="let edge">
                        <button mat-icon-button title="Download" (click)="download()">
                            <mat-icon>download_for_offline</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let edge">
                        <button mat-icon-button title="Delete" (click)="delete(edge.node)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [length]="pageLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize"
                (page)="handlePageEvent($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </mat-card>
</div>