<mat-toolbar>Update Intern Merchandise
    <!-- <div *ngIf="internMerch.merchandiseId"> ({{ update.merchandiseId }}) </div> -->
</mat-toolbar>
<div class="dialog" mat-dialog-content>
    <form [formGroup]="newInternMerchForm">
        <div class="article-info">
            <mat-form-field appearance="outline">
                <mat-label> Merchandise Id </mat-label>
                <input formControlName="merchandiseId" type="text" matInput>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> Invoice Number </mat-label>
                <input formControlName="invoiceNumber" type="text" matInput>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
            <mat-label> Article Number </mat-label>
            <input formControlName="articleNumber" type="text" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label> Merchandise Name </mat-label>
            <textarea formControlName="merchandiseName" matInput></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label> Usecase </mat-label>
            <textarea formControlName="useCase" matInput></textarea>
        </mat-form-field>

        <div class="orderer">
            <mat-form-field appearance="fill">
                <mat-label> Orderer </mat-label>
                <mat-select formControlName="orderer" required>
                    <mat-option *ngFor="let user of ordererOptions | async" [value]="user.node">
                        {{ getUserName(user.node) }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label> Project Leader </mat-label>
                <mat-select formControlName="projectLeader" required>
                    <mat-option *ngFor="let user of ordererOptions | async" [value]="user.node">
                        {{ getUserName(user.node) }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>


        <mat-form-field>
            <mat-label>Link</mat-label>
            <input formControlName="url" type="url" matInput>
        </mat-form-field>

        <div class="prices">
            <mat-form-field>
                <mat-label> Price (without tax) </mat-label>
                <input formControlName="cost" type="number" matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" required>
                <mat-label required>Count</mat-label>
                <input formControlName="count" id="count" type="number" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label> Postage </mat-label>
                <input formControlName="postage" type="number" matInput>
            </mat-form-field>
        </div>
        <div class="controls">
            <button mat-raised-button (click)="onCancelClick()"> Cancel </button>
            <button mat-raised-button color="accent" (click)="onSubmit()"> Update </button>
        </div>
    </form>
</div>