@import 'src/styles';

.content {
  height: 100%;
  overflow-x: auto;

  .navbar-container {
    display: flex;
    padding: 1rem;
    a {
      margin-right: 2rem;
    }

    .profile-container {
      .profilePic {
        height: 2.5rem;
        width: 2.5rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          clip-path: circle();
        }
      }
    }
  }
}
