@import '~src/styles';

.navbar {
    color: mat-color($zorius-font-light);
    background-color: mat-color($zorius-primary, 500);
    padding: 1rem;

    .navbar-container {
        display: flex;
        .profile-container {
            margin-left: auto;
            .profilePic {
                img {
                    height: 2.5rem;
                    clip-path: circle();
                }
            }
        }
    }
}
