<div class="navbar">
    <div class="navbar-container">
        <div class="navbar-home">
            <a routerLink="/home" mat-button style="font-size: large">
                <mat-icon>home</mat-icon>
                <mat-label>Zorius</mat-label>
            </a>
        </div>
        <div class="navigation-container" *ngIf="authService.isAuthenticated() == true">
            <a routerLink="/workaccount" mat-button>Zeiterfassung</a>
            <a routerLink="/workreports" mat-button>Berichte</a>
            <button mat-button [matMenuTriggerFor]="menu">Warenwirtschaft</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/merchandise/intern_orders">Interne Bestellungen</button>
                <button mat-menu-item routerLink="/merchandise/extern_orders">Externe Bestellungen</button>
                <button mat-menu-item routerLink="/merchandise/stock">Lager</button>
            </mat-menu>
        </div>

        <div class="profile-container">
            <div *ngIf="isLogedIn() == true then profile else registerLogin"></div>
            <ng-template #profile>
                <div class="avatar">
                    <div *ngIf='(avatarUrl | async) !== null else defaultPic'>
                        <a class="profilePic" mat-icon-button [matMenuTriggerFor]="userProfile">
                            <img [src]="(avatarUrl | async)" />
                        </a>
                    </div>
                    <ng-template #defaultPic>
                        <a class="profilePic" mat-icon-button [matMenuTriggerFor]="userProfile">
                            <mat-icon>person</mat-icon>
                        </a>
                    </ng-template>
                </div>
                <mat-menu #userProfile>
                    <button mat-menu-item routerLink="/user">
                        <mat-icon>person</mat-icon>Profil
                    </button>
                    <button mat-menu-item (click)="authService.logout()">
                        <mat-icon>login</mat-icon>Logout
                    </button>
                </mat-menu>
            </ng-template>
            <ng-template #registerLogin>
                <a mat-button routerLink="/login">Anmelden</a>
                <a mat-button routerLink="/register">Registrieren</a>
            </ng-template>
        </div>
    </div>
</div>