<div class="mat-app-background">
  <mat-toolbar class="mat-elevation-z8" color="primary">
    <mat-toolbar-row>
      <div class="navbar-home">
        <a routerLink="/home" mat-button>
          <mat-icon>home</mat-icon>
          <mat-label>Zorius</mat-label>
        </a>
      </div>

      <div class="navigation" *ngIf="isLogedIn()">
        <a [routerLink]="['work-reports']" mat-button>Work Reports</a>
        <button mat-button [matMenuTriggerFor]="menu">Merchandise</button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item routerLink="/merch/intern/list"
            >Intern Merchandise</a
          >
          <a mat-menu-item routerLink="/merch/extern">Extern Merchandise</a>
          <a mat-menu-item routerLink="/merch/stock">Stock</a>
        </mat-menu>
      </div>

      <span style="flex: auto"></span>

      <div class="theme-mode-switcher">
        <mat-slide-toggle
          labelPosition="after"
          [(ngModel)]="isDarkMode"
          (change)="switchTheme()">
        </mat-slide-toggle>
        <mat-icon class="theme-mode-icon" *ngIf="isDarkMode; else lightMode">
          dark_mode
        </mat-icon>
        <ng-template #lightMode>
          <mat-icon class="theme-mode-icon">light_mode</mat-icon>
        </ng-template>
      </div>

      <div *ngIf="isLogedIn(); then profile; else registerLogin"></div>
      <ng-template #profile>
        <div class="avatar">
          <div *ngIf="avatarUrl | async; else defaultPic">
            <a
              class="profile-pic"
              mat-icon-button
              [matMenuTriggerFor]="userProfile">
              <img [src]="avatarFilename | async" />
            </a>
          </div>

          <ng-template #defaultPic>
            <a
              class="profile-pic"
              mat-icon-button
              [matMenuTriggerFor]="userProfile">
              <mat-icon>person</mat-icon>
            </a>
          </ng-template>
        </div>

        <mat-menu #userProfile>
          <button mat-menu-item routerLink="/user">
            <mat-icon>person</mat-icon>Profil
          </button>

          <button mat-menu-item [routerLink]="['admin']">
            <mat-icon color="warn">admin_panel_settings</mat-icon>Admin
          </button>

          <button mat-menu-item (click)="authService.logout()">
            <mat-icon>login</mat-icon>Logout
          </button>
        </mat-menu>
      </ng-template>

      <ng-template #registerLogin>
        <a mat-button routerLink="/login">Anmelden</a>
        <a mat-button routerLink="/register">Registrieren</a>
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
