@import 'src/styles';

:host {
  width: 100%;
  position: sticky;
  z-index: 1000;
  top: 0;

  .theme-mode-switcher {
    display: flex;
    align-items: center;
    justify-content: center;

    .theme-mode-icon {
      margin-left: 0.5vw;
    }

    margin-right: 2vw;
  }

  .navbar-container {
    display: flex;
    padding: 1rem;
    a {
      margin-right: 2rem;
    }

    .profile-container {
      .profile-pic {
        height: 2.5rem;
        width: 2.5rem;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          clip-path: circle();
        }
      }
    }
  }
}
