<div class="new-intern-merch">
  <mat-card class="card">
    <mat-toolbar>New Intern Merchandise</mat-toolbar>
    <div class="card-content" [formGroup]="newInternMerchForm">
      <div class="flex-container">
        <mat-form-field appearance="outline" required>
          <mat-label required>Count</mat-label>
          <input formControlName="count" type="number" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Article Number</mat-label>
          <input formControlName="articleNumber" type="text" matInput>
        </mat-form-field>
      </div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Merchandise Name</mat-label>
        <textarea formControlName="merchandiseName" matInput></textarea>
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Use Case</mat-label>
        <textarea matInput formControlName="useCase"></textarea>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Url</mat-label>
        <input type="url" matInput formControlName="url">
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Shop</mat-label>
        <input type="text" matInput formControlName="shop">
      </mat-form-field>

      <div class="flex-container">
        <mat-form-field appearance="outline">
          <mat-label>Price (wo. Tax)</mat-label>
          <input type="number" matInput formControlName="cost">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Postage</mat-label>
          <input type="number" matInput formControlName="postage">
        </mat-form-field>
      </div>
      <div class="flex-container">
        <button mat-raised-button (click)="onBack()">Cancel</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
      </div>
    </div>
  </mat-card>
</div>