<div class="pnf">
    <mat-card class="card">
        <mat-toolbar color="warn">
            <span>404 - Page not found</span>
        </mat-toolbar>

        <mat-card-content class="card-content">
            <h3>
                We are sorry, but we weren't able to find Site you are looking for.
            </h3>
            <p>
                Please check if the link is correct and is still valid.
                If you are sure the link correct please contact your technical support.
            </p>
        </mat-card-content>
    </mat-card>
</div>