<mat-toolbar>Update Intern Merchandise
    <!-- <div *ngIf="internMerch.merchandiseId"> ({{ update.merchandiseId }}) </div> -->
</mat-toolbar>
<div class="dialog" mat-dialog-content>
    <div class="article-info">
        <mat-form-field appearance="outline">
            <mat-label> Merchandise Id </mat-label>
            <input type="text" matInput [(ngModel)]="data.merchandiseId">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label> Invoice Number </mat-label>
            <input type="text" matInput [(ngModel)]="data.invoiceNumber">
        </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
        <mat-label> Article Number </mat-label>
        <input type="text" matInput [(ngModel)]="data.articleNumber">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label> Merchandise Name </mat-label>
        <textarea matInput [(ngModel)]="data.merchandiseName"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label> Usecase </mat-label>
        <textarea matInput [(ngModel)]="data.useCase"></textarea>
    </mat-form-field>

    <div class="prices">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <mat-label> Orderer </mat-label>
                <input type="text" matInput [formControl]="ordererControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let edge of filteredUsers | async" [value]="edge.node">
                        {{ edge.node }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>


    <mat-form-field>
        <mat-label>Link</mat-label>
        <input type="url" matInput [(ngModel)]="data.url">
    </mat-form-field>

    <div class="prices">
        <mat-form-field>
            <mat-label> Price (without tax) </mat-label>
            <input type="number" matInput [(ngModel)]="data.cost">
        </mat-form-field>
        <mat-form-field appearance="outline" required>
            <mat-label required>Count</mat-label>
            <input id="count" type="number" matInput [(ngModel)]="data.count">
        </mat-form-field>
        <mat-form-field>
            <mat-label> Postage </mat-label>
            <input type="number" matInput [(ngModel)]="data.postage">
        </mat-form-field>
    </div>
    <div class="controls">
        <button mat-raised-button (click)="onCancelClick()"> Cancel </button>
        <button mat-raised-button color="accent" [mat-dialog-close]="data" cdkFocusInitial> Update </button>
    </div>
</div>