.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  * {
    padding-top: 1rem;
    width: 100%;
  }
}

.control-btn {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
