@use '~@angular/material' as mat;

@include mat.core();

$zorius-light-primary: mat.define-palette(mat.$indigo-palette);
$zorius-light-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$zorius-light-warn: mat.define-palette(mat.$red-palette);

$zorius-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $zorius-light-primary,
      accent: $zorius-light-accent,
      warn: $zorius-light-warn,
    ),
  )
);
.light-theme {
  @include mat.all-component-themes($zorius-light-theme);
}

$zorius-dark-primary: mat.define-palette(mat.$light-blue-palette);
$zorius-dark-accent: mat.define-palette(mat.$lime-palette, A200, A100, A400);
$zorius-dark-warn: mat.define-palette(mat.$red-palette);

$zorius-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $zorius-dark-primary,
      accent: $zorius-dark-accent,
      warn: $zorius-dark-warn,
    ),
  )
);

.dark-theme {
  @include mat.all-component-themes($zorius-dark-theme);
}

html,
body {
  padding: 0;
  margin: 0;

  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

.card {
  margin: auto;
  max-width: 75vw;
  min-width: 600px;

  .card-content {
    padding-top: 1rem;
  }

  .full-width {
    width: 100%;
  }

  .flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    mat-form-field:not(:last-child) {
      padding-right: 1rem;
    }
  }
}
