@use '@angular/material' as mat;

@include mat.core();

mat.$theme-ignore-duplication-warnings: true;

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette, 600),
      accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$light-blue-palette, 400),
      accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

.light-theme {
  @include mat.all-component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

html,
body {
  padding: 0;
  margin: 0;
}

.centered-container {
  margin: auto;
  @media (min-width: 1200px) {
    width: 75%;
  }

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.card {
  margin: auto;
  max-width: 75vw;
  min-width: 600px;

  .card-content {
    padding-top: 1rem;
  }

  .flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    mat-form-field:not(:last-child) {
      padding-right: 1rem;
    }
  }
}

.full-width {
  width: 100%;
}
