:host {
  .work-report-controls {
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  table {
    width: 100%;

    th,
    td {
      padding-top: 1vh;
      padding-bottom: 1vh;
      padding-left: 1vw;
    }
  }
}
