:host {
  .work-report-controls {
    margin-top: 2vh;
  }

  .optional {
    display: none;
    @media (max-width: 720px) {
      display: none;
    }
  }

  table {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;

    th,
    td {
      padding-top: 1vh;
      padding-bottom: 1vh;
      padding-left: 1vw;
    }
  }
}
