<mat-toolbar color="primary">
  <span>Home</span>
</mat-toolbar>

<div
  class="centered-container"
  *ngIf="authService.isAuthenticated(); else notLoggedIn">
  <mat-toolbar>
    <span>Todays Work Reports</span>
  </mat-toolbar>

  <div class="work-report-controls">
    <button mat-raised-button (click)="newWorkReport()" color="primary">
      New Work Report
    </button>

    <span style="margin: auto"></span>

    <mat-form-field class="filter-input" appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (change)="setFilter($event)" />
    </mat-form-field>
  </div>

  <app-work-report-table
    [workReports]="workReports"
    [disableStartStop]="false"
    [filter]="filter"
    (newTimeRecordEvent)="onTimeRecord($event)">
  </app-work-report-table>
</div>

<ng-template #notLoggedIn>
  <mat-toolbar>
    <span>Zorius</span>
  </mat-toolbar>
  <p>
    Zoirus ist ein Zeit- und Warenwirtschaftstool. Es ist derzeit noch in
    Entwickung.
  </p>
</ng-template>
