<mat-toolbar color="primary">
  <span>Register</span>
</mat-toolbar>

<div class="centered-container register">
  <mat-stepper orientation="vertical" [linear]="false" #stepper>
    <mat-step [stepControl]="emailForm">
      <form [formGroup]="emailForm">
        <ng-template matStepLabel>Fill out your email</ng-template>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="text"
            placeholder="user@example.com"
            formControlName="email"
            required />
          <mat-error *ngIf="emailForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="passwordForm">
      <form [formGroup]="passwordForm">
        <ng-template matStepLabel>Fill out your password</ng-template>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required />
          <mat-error *ngIf="passwordForm.get('password').hasError('minlength')">
            Password must be <strong>8 Characters</strong> long
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            required />
          <mat-error
            *ngIf="passwordForm.get('confirmPassword').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error
            *ngIf="passwordForm.get('confirmPassword').hasError('minlength')">
            Password must be <strong>8 Characters</strong> long
          </mat-error>
          <mat-error
            *ngIf="passwordForm.get('confirmPassword').hasError('mustMatch')">
            Passwords must <strong>match</strong>
          </mat-error>
        </mat-form-field>
        <div>
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="nameForm">
      <form [formGroup]="nameForm">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Last name, First name"
            formControlName="name" />
        </mat-form-field>
        <div>
          <button mat-stroked-button matStepperPrevious>Back</button>
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-stroked-button matStepperPrevious>Back</button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="emailForm.invalid && passwordForm.invalid"
          (click)="register()">
          Register
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
